<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/Index.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
</head>

<body>
    <nav class="Barra_Navegacion">
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="">Contacto</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="#">@{{ user.username }}</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'registro' %}">Resgistrarse</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% load humanize %}
        <h1>Más vendidos</h1>
        <div class="Contenedor">
            <div class="Contenedor_de Frente">
                <div>FRONT SIDE</div>
            </div>
            <div class="Contenedor_de Atras">
                <div>BACK SIDE</div>
            </div>
        </div>
            {% for libro in libros %}
            <section class="Contenedor_Libros">
                <div class="Producto">
                    <div class="img libro">
                        {% if libro.imagen %}
                        <img src="{{libro.imagen.url}}" alt="" class="libro img" />
                        {% endif %}
                    </div>
                    <div class="Descripcion_Producto">
                        <h3 class="Nombre_Producto">{{libro.titulo | capfirst}}</h3>
                        <p class="Autor">{{libro.autor | title}}</p>
                        <div class="Box-Precio">
                            <span class="Precio_Producto"><b>${{libro.precio | intcomma}}</b></span>
                        </div>
                    </div>
                    <a href=""><i class="Añadir_Carrito"></i></a>
                </div>
            </section>
            {% endfor %}
        </div>
</body>

</html>