<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/Index.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
</head>

<body>
    <section class="Libreria_Section">
        <main class="Main_Destacados">
            <h2 class="Mas_Vendidos">Mas vendidos</h2>
            <section class="Contenedor_Libros">
                <div class="Producto">
                    <div class="img libro">
                        <img src="https://olcovers2.blob.core.windows.net/coverswp/2013/08/M2_ProgramacionGrafica_2Ed-OpenLibra.jpg"
                            alt="" class="libro__img" />
                    </div>
                    <div class="Descripcion_Producto">
                        <h3 class="Nombre_Producto">Libro</h3>
                        <p class="Autor">Name Autor</p>
                        <div class="Box-Precio">
                            <span class="Precio_Producto1"><strike>$0.00</strike></span>
                            <span class="Precio_Producto2"><b>$0.00</b></span>
                        </div>
                    </div>
                    <a href=""><i class="Añadir_Carrito"></i></a>
                </div>
            </section>
            <section class="Contenedor_Libros">
                <div class="Producto">
                    <div class="img libro">
                        <img src="https://olcovers2.blob.core.windows.net/coverswp/2012/08/Desarrollo-Videojuegos-2-Programacion-Grafica-OpenLibra.jpg"
                            alt="" class="libro__img" />
                    </div>
                    <div class="Descripcion_Producto">
                        <h3 class="Nombre_Producto">Libro</h3>
                        <p class="Autor">Name Autor</p>
                        <div class="Box-Precio">
                            <span class="Precio_Producto1"><strike>$0.00</strike></span>
                            <span class="Precio_Producto2"><b>$0.00</b></span>
                        </div>
                    </div>
                    <a href=""><i class="Añadir_Carrito"></i></a>
                </div>
            </section>
            <section class="Contenedor_Libros">
                <div class="Producto">
                    <div class="img libro">
                        <img src="https://olcovers2.blob.core.windows.net/coverswp/2011/11/Emulador-Master-System-Cplusplus-OpenLibra.gif"
                            alt="" class="libro__img" />
                    </div>
                    <div class="Descripcion_Producto">
                        <h3 class="Nombre_Producto">Libro</h3>
                        <p class="Autor">Name Autor</p>
                        <div class="Box-Precio">
                            <span class="Precio_Producto1"><strike>$0.00</strike></span>
                            <span class="Precio_Producto2"><b>$0.00</b></span>
                        </div>
                    </div>
                    <a href=""><i class="Añadir_Carrito"></i></a>
                </div>
            </section>
        </main>
    </section>
</body>

</html>