<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/Index.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
</head>

<body>
    <section class="Libreria_Section">
        <main class="Main_Destacados">
            {% load humanize %}
            <h2 class="Mas_Vendidos">Mas vendidos</h2>
            {% for libro in libros %}
            <section class="Contenedor_Libros">
                <div class="Producto">
                    <div class="img libro">
                        {% if libro.imagen %}
                        <img src="{{libro.imagen.url}}" alt="" class="libro img" />
                        {% endif %}
                    </div>
                    <div class="Descripcion_Producto">
                        <h3 class="Nombre_Producto">{{libro.titulo | capfirst}}</h3>
                        <p class="Autor">{{libro.autor | title}}</p>
                        <div class="Box-Precio">
                            <span class="Precio_Producto"><b>${{libro.precio | intcomma}}</b></span>
                        </div>
                    </div>
                    <a href=""><i class="Añadir_Carrito"></i></a>
                </div>
            </section>
            {% endfor %}
        </main>
    </section>
</body>

</html>