<!DOCTYPE html>
<html>
    {% load static %}
    {% load crispy_forms_tags %}
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>Nuevo Libro</title>
    </head>
    <body>
        <h1>Agregar Libro</h1>
        <form method="POST">
            <table>{{formaLibro}} </table>
            <a href="{% url 'principal' %}">Regresar al inicio</a> |
            <button type="submit">Enviar</button>
            {% csrf_token %}
        </form>
    </body>
</html>