body{
    font-family: 'Urbanista', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.Contenedor_Vinculos{
    overflow-x: hidden;
    width: 250px;
    position: absolute;
    height: auto    ;
    background-image: linear-gradient(43deg, #41c9d0 0%, #50a8c8 20%);
    color: #fff;
    outline: 1px solid #2a2a2a;
}

.Contenedor_Vinculos h2{
    text-align: center;
    margin: 0;
    padding: 10px;
    background: #2a2a2a;
}

.Contenedor_Vinculos ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.Contenedor_Vinculos a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.Contenedor_Vinculos li{
    outline: 1px solid #2a2a2a;
    transition: all 0.3s;
}

.Contenedor_Vinculos li:hover{
    background: #444;
    border-left: 5px solid #eee;
}

.Contenedor{
    display: flex;
    width: 100%;
    perspective: 70rem;
    position: relative;
    height: 20rem;
    max-width: 250px;
    margin: 6rem 3rem;
    box-shadow: none;
    background: none;
    float: left;
}

.Contenedor_de{
    height: 120%;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    color: white;
}

.Contenedor_de.Atras{
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.Contenedor_de.Frente{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
}

.Contenedor:hover .Contenedor_de.Frente{
    transform: rotateY(180deg);
}

.Contenedor:hover .Contenedor_de.Atras{
    transform: rotateY(0deg);
}

.Rectangulo{
    width: 40px;
    height: 6px;
    background-image: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
    border-radius: 10px;
    margin-bottom: 5px;
}

.Rectangulo2{
    width: 40px;
    height: 6px;
    background-image: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
    border-radius: 10px;
    margin-bottom: 5px;
}

.Rectangulo3{
    width: 40px;
    height: 6px;
    background-image: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
    border-radius: 10px;
}

.Contenedor_Total{
    width: 100%;
    height: max-content;
    position: absolute;
    background: #eee;
    padding: 30px;
    transition: all 0.3s;
    box-sizing: border-box;
}

.Barra_Nav{
    cursor: pointer;
}

.Abrir{
    transform: translateX(250px);
}

.Contenedor_Total h1{
    text-align: center;
}

.Contenedor_Total .Titulo_Libro{
    text-align: center;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: -10px;
    justify-content: center;
}

.Contenedor_Total .Libro_IMG{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: -10px;
    border-radius: 5%;
    overflow: hidden;
    justify-content: center;
}