.Contenedor_Total{
    width: 100%;
    height: max-content;
    position: absolute;
    background: #eee;
    padding: 30px;
    transition: all 0.3s;
    box-sizing: border-box;
}

.Contenedor_Total h1{
    text-align: center;
}

.Links{
    text-decoration: none;
}

.Libros{
    max-width: 300px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    cursor: pointer;    
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.Libros:hover{
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}

.Libros > img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.Titulo{
    color: rgb(25, 25, 25);
}

.Informacion{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
    height: 200px;
}

.Informacion * + *{
    margin-bottom: 0.5em;
}

.Categoria{
    background-color: rgb(52, 131, 250);
    color: rgb(255, 255, 255);
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px;
}

.Precio{
    font-size: 1.5em;
    color: rgb(25, 25, 25);
}

.Autor{
    color: rgb(0, 166, 80);
}

.Informacion, .Idioma{
    font-weight: 300;
}

.Autor, .Informacion, .Idioma{
    font-size: 0.9em;
}

.Calificacion, .Idioma{
    transition-duration: 0.3s;
    transition-property: opacity;
    opacity: 0;
}

.Libros:hover .Calificacion, .Libros:hover .Idioma{
    opacity: 1;
}

.Calificacion{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.Calificacion > *{
    margin: 0;
}

.Categoria, .Calificacion{
    font-size: 0.8em;
}

.Calificacion > span:first-child{
    color: rgb(52, 131, 250);
}